<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/client/css/favicon.ico">

    <title></title>

    <link href="/client/thirdparty/select2-4.0.5/css/select2.min.css?_=<%= nocache %>" rel="stylesheet" type="text/css" />
    <link href="/client/thirdparty/bootstrap-4.0.0/css/bootstrap.min.css?_=<%= nocache %>" rel="stylesheet" type="text/css" />
    <link href="/client/css/sticky-footer-navbar.css?_=<%= nocache %>" rel="stylesheet" type="text/css" />
    
    <script src="/client/thirdparty/require-2.3.5.min.js"></script>
    <script src="/client/js/requirejs.config.js?_=<%= nocache %>"></script>
</head>